<div class="fields">
  <div>

      <%= f.label :content, 'Question' %>
      <%= remove_child_link "remove", f %><br />
      <%= f.text_area :content, :rows => 3 %><br />

  </div>

</div>


<!-- 

- f.fields_for :itinearies do |builder| 
  .fields
    %div
      = builder.label :content, 'Question'
      = remove_child_link "remove", builder
      %br
      = builder.text_area :content, :rows => 3


-->
