.region-texto

  %h1.page-title
    = t('travel.edit') + ' ' + @travel.name

  = form_for(@travel, :url => {:travel_id => params[:travel_id], :action => 'update'}, :html => { :multipart => true }) do |f|
    = render(:partial => 'form', :locals => {:f => f})
    .actions
      = f.submit I18n.t('update')
