#sidebar-first
  = render 'sidebar_first'

#content
  %h1.page-title
    =t('partner.edit') + ' ' + @partner.title

  .content
    = render 'form'

    = link_to t('back'), partners_path, :class => 'btn cancel'

