%h1
  = t('extension.edit.title')

- form_for(@extension, :url => {:extension_id => params[:extension_id], :action => 'update'}) do |f|
  = render(:partial => 'form', :locals => {:f => f})
  .actions
    = f.submit I18n.t('submit')

