- if @offer_season.errors.any?
  #errorExplanation
    %h2= t('activerecord.errors.messages.offer_season.invalid_record')
    %ul
    - @offer_season.errors.full_messages.each do |msg|
      %li= msg
.form-group
  = f.label :title
  %br
  = f.text_field :title, class:"form-control"

