%h1 
  =t('offer_season.new')


= form_for(@offer_season, :url => {:offer_season_id => params[:offer_season_id], :action => 'create'}) do |f|
  = render(:partial => 'form', :locals => {:f => f})
  .actions
    = f.submit I18n.t('submit')

