
%section.search-travel
  .content
    %form
      %h2.title Find the travel you need
      %select{:name => 'search-travel-destination'}
        %option 'Search by Travel Destination'
      %select{:name => 'search-travel-interest'}
        %option 'Search by Travel Interest (optional)'
      %select{:name => 'search-travel-month'}
        %option 'Search by Travel Month (optional)'
      %select{:name => 'search-travel-price'}
        %option 'Search by Price Range (optional)'
      %button Search

%section.contact-us
  %h2.title
    Contact Us
  .content
    .span.attention-number 800 384  4859
    .span.attention-days  L-V 8 a.m.-7 p-m, Sab 9 a.m.-1p.m. 

%section.ways-to-travel
  %h2.title
    Ways to travel
  %dl
    %dt Group
    %dd Far far away, behind the word mountains. far from the 
    %dt Independent
    %dd Far far away, behind the word mountains. far from the 
    %dt Alone
    %dd Far far away, behind the word mountains. far from the 
   
%section.health
  %h2.title
    Health
  .content
    %p
      Far far away, behind the word mountains, far from the countries Vokalia
    = image_tag '/images/img-sidebar-front.jpg'

%section.testimony
  %h2.title
    Testimony
  .content
    %p
      Far far away, behind the word mountains, far from the countries Vokalia
    = image_tag '/images/img-sidebar-front.jpg'
