%h1
  = t('destination_picture.edit.title')


= form_for(@destination_picture, :url => {:destination_picture_id => params[:destination_picture_id], :action => 'update'}, :html => {:multipart => true}) do |f|
  = render(:partial => 'form', :locals => {:f => f})
  .actions
    = f.submit I18n.t('submit')

