


%nav.navegate-by
  %h2.title
    Navegate by
  %ul
    %li
      %span Account Login
    %li
      = link_to 'Travel Agent Registration', '#'
    %li
      = link_to 'Traveller Registration', '#'
    %li
      = link_to 'Personal Information Forms', '#'
    %li
      = link_to 'Guest Comments', '#'

