#content
  %h1.page-title
    = I18n.t('about.terms')

  %h2.title THE CONTRACT
  %br
  Our booking contract describes the Terms and conditions that will apply and constitute a legal relationship (tour contract) between Infinity Travel SAC and the client for the services provided by our company; (on behalf of the client, all other persons traveling under this contract, any accompanying minors or persons for whom this tour contract was purchased). This agreement contains important information that need to be read and understand by our client.
  The tour contract quote given by us will be valid for 7 days,  Get a way Holiday valid for a short number of days and last minute deals only one day from the date of your first enquiry. In Case of International or domestic flights quotes are valid for a short time and subject to availability and must be purchased to ensure the validity of the final price.
  When making a booking by telephone, through the website, by email, by travel agency or by travel agent our client is accepting all these Terms and Conditions and our company will immediately submit a written Booking confirmation letter or email, (known as a tour contract) stating a tour itinerary, details of the services and tour conditions, not later that one day prior to the tour departure date. Airlines, cruises, safaris and trains are subject to their own imposed conditions.  Our prices do not included passport and visa fees, travel insurance, excess baggage charges, international airport taxes, meals or drinks not specified in your itinerary, personal expenses, personal insurance, tips and baggage porterage, gratuities to leaders and guides,  laundry, medical expenses, optional activities, trips and any items consider personal nature.  If you agree these Terms and Conditions among regulations, changes and cancellations policy and certain limitations of liability that contains important limitations on the rights of passengers; you will be limiting your liability and your right to sue.
  This tour contract supersedes any other written, oral representation or agreements and cannot be modified.   In the event of any conflict between brochures, website materials and this tour contract. Our terms & conditions shall prevail. 
  In case of travel agents: Passenger understands and agrees that receipt of this tour contract or any other information or notices by your travel agent  shall be deemed receipt by the passenger as of the date of receipt by the agent.  Passenger acknowledges that our company is not responsible for the financial condition or integrity of any travel agent.
  %br
  %br
  %h2.title CLIENTS DETAILS
  In order to confirm and guarantee your travel arrangements you must provide Personal travel details along with your initial payment for service confirmations. In the event where client details have not been received by the Company 30 days prior to the Clients tour departure, the Company reserves the right to treat the file as cancelled and full penalties will apply.  In case of groups this information need to be provided within 70 to 45 days prior the tour departure date.
  %br
  %br
  Client details include
  %ul
    %br
    %li Full name (same as showed in passport)
    %br
    %li Passport number and expiration date.
    %br
    %li Date of birth
    %br
    %li Nationality
    %br
    %li Country of residence
    %br
    %li Scan copy of passport
    %br
    %li Medial form  (if required for any disability or dietary restrictions)
    %br
    %li Client contact information (Address, Telephone number, E-mail address)
    %br
    %li Travel companions name and emergency contacts.
    %br
    %li Payment procedure (online forms of payment available on our site www.infinityperu.com) Debit or credit card number including associated billing address and expiration date.   (we work with Visa, Master card, American express or discovery)
    %br
    %li International flight details at least 5 days prior to the tour departure date.
  %br
  %br
  Passport and visas
  %br
  %br
  It is passenger responsibility to carry a valid passport and have obtained the appropriate visas when travelling with Infinity. Please ensure that your passport is valid for 6 months beyond the duration of your holiday.
  %br
  %br
  Medical Form
  %br
  %br
  For insurance purposes all clients are required to complete the Medical Form.  For any disability, special need, pre-existing condition or dietary restrictions these medical form must be signed and dated by a doctor or practicing physician and sent to us no later  than 30 days prior to the start of your tour.
  %br
  %br
  Special conditions:
  %ul
    %br
    %li Clients under 15 years of age must be accompanied by a parent or guardian.
    %br
    %li A client under 20 years of age traveling alone during the tour shall provide a written consent of his/her guardian.
    %br
    %li Clients who require special attention during the tour for reason of chronic disease, general ill-health, pregnancy or physical handicap, shall advise this when applying for the tour. We may require clients a medical certificate.
    %br
    %li If client needs medical diagnosis or treatment by a physician owing to illness, functional disease or other reasons during the tour, we will need to take measures necessary to ensure smooth operation of the tour and all costs resulting from such measures shall be responsible by the client.
    %br
    %li Company acceptance or rejection of client participation in the tour shall be made within one week after the application is submitted.
    %br
  %br
  %br
  Online services
  %br
  %br
  In order to provide you more information, services or advantages online, we may request you to voluntarily supply us with personal information in our site registration at www.infinityperu.com
  Clients are able to fill out a basic information form to become an infinity member.
  Travel agents are able to fill out an information form to become partners with our company.
  %br
  %br
  Information you supply to us will not be passed to any third party. If you have provided your E-mail address to us, we may use these E-mail to inform you about products and services.  We may share Personal Information with law enforcement agencies in the event of a criminal investigation or suspected illegal activity.
  We keep a record of your account and if you would like information about it or you have other related inquiries or concerns, you may write to admin@infinityperu.com or  INFINITY PERU TRAVEL S.A.C.  (direccion de nuestro local).
  %br
  %br
  %h2.title BOOKING PROCESS  
  After the selection of your tour, Infinity Peru will requires you to fully complete our booking form (Appearing on the quote sent by us or online) together with a necessary deposit payment to secure your booking and guarantee a reservation.
  %br
  %br
  %u Deposit Payment
  Booking with us committed you to pay a non – refundable deposit payment of $500 per passenger or full payment tour.
  %br
  %br
  %u Extensions
  required a first deposit payment of $150 per passenger or full payment tour.
  %br
  %br
  %u In case of trekking
  $200 per passenger is required to be paid at time of booking. (non-refundable and non-changeable)
  %br
  %br
  %u Late bookings
  within to 30 to 16 days before tour departure may require full payment to guarantee a reservation.
  %br
  %br
  %u Last minute bookings
  within 15 days of departure may require full payment to guarantee a reservation plus $70.00 fee charged for additional communication and administration costs.
  %br
  %br
  %u Get a way Holiday
  or
  %u last minute deals
  need to be fully paid at the time of booking. (great prices are subject to availability)
  %br
  %br
  Booking form and Contract will be accepted and become valid only from the date when Infinity Peru sends receives your deposit payment to you or your travel agent.  
  %br
  %br
  If you have any questions regarding your booking procedure or conditions of sale then Amazing Destinations will be happy to answer them for you.
  %br
  %br
  Surcharges  In case of surcharges Infinity Peru travel S.A.C. reserves the right to impose a supplemental charges relating to unanticipated occurrences including but not limited to, increase in the price of fuel, government actions or taxes, currency fluctuations, airport charges or increase in scheduled airfares.  Our client may cancel the booking within 7 days of notification of the surcharges to obtain a full refund.
  FINAL PAYMENT  In order to complete all the reservations and procedures according to your contract a final payment shall be made no later than 50 days prior to the tour departure date.  In case of last minute bookings, get a way holiday or last minute deals final payment shall be made at the time of booking or before departure on a designated date give by our company. If the client is member of one of our affiliated credit company and consent to pay by credit card for tour fare (inclusive of tour deposits, extensions, additional fees due to changes or cancellations)  Infinity Peru shall charge the client on the date that our client accept the final tour fare. (even without a signature in case of changes or cancellations fees as stipulated on the contract) Travel charges and cancellations fees shall be made the day a change in the contract is requested.
  Infinity Peru is a Tourism Ministry Accredited travel agency and registered as a limited company under the Ministries of the Peruvian tourism board. The Company fully complies with the current European regulations regarding the protection of client’s money.  TOUR FARE
  Every “tour contract” itinerary mention a Tour fare based per person in US dollars and in accordance with the services describes in the itinerary including but not limited to (Hotels accommodation, meals, excursions, type of service, treks, extensions, guides languages and any other service specified in such itinerary)
  Final itinerary will be sent to you no more than 30 days before the tour departure date, together with your vouchers or coupons for every service mention in itinerary.  Vouchers will be requested by staff or suppliers to validate your services)
  Important Tour fare conditions
  Tour fare include planning, handling and operational charges are based on current rates of exchange, tariffs and taxes. Infinity Peru has no obligation to give a breakdown cost of the tour and reserve the right to increase prices after published to reflect fluctuations in foreign exchange markets.
  Child and infant policy
  Clients will have and handle a tour fare according to the departure date and the number of participants.
  Clients 2 or less years of age are consider infants and will not have any extra payment except due to airlines, trains or special accommodation at hotel (request of extra bed or crib in the room)
  Clients 11 or less years of age are considers child and will have special fare according to the program selection.
  Clients 12 or more years of age will be charge as an adult unless otherwise specified.
  Airlines child policy is consider between 2 to 5 years of age.
  No more than 2 child fare will be accepted in cases when are sharing one room with their parents.
  Some tours are also quotes for infants.
  INCLUDED IN THE TOUR FARE
  Please note that the items included in the tour fare are only those as specified in the itinerary.
  The below list may included items unreleated to the tours you choose, Infinity Peru will not make refunds for the below fare if the clients choose not to use the relevant services.
  %br
  Baggage	(1) Airlines, trains & ships have limited baggage capacity, We kindly ask all our guest to transfer and handle only one piece of normal sized baggage and one carry-on item per person. (Baggage capacity will be specified in the itinerary) (2) In case of trekking, we kindly ask all our guest to bring on the trek only the baggage that is necessary for the excursion, the rest of their luggage can be safe at their hotels or handle and store by our staff.
  Sightseeing & excursions	(1) Private excursions will be operated on fully private (except when boat is need, operating under a shared service boat but our company provide especial private guide for our passengers).  (2) Private units will be set according to the total number of passengers.   (3)  Some tours are in Shared service (specified in the itinerary).    (4)  To ensure the client's safe and smooth traveling services during the tour, we shall take all necessary measures to arrange alternative services in efforts to create a revised tour itinerary to serve the purpose of the original one.
  Guide services	(1) English-speaking guides for sightseeings and excursions will be provided.  (2) English-speaking assistant will be provided for pick-up and meeting services.  (3) In case of Escorted groups an English-speaking assistant will be provided at all times.   (4) In case of Private tours an English-speaking assistant will be provided at all times only upon request.
  Hotel Rooms	(1) Client travelling alone is requested to book a single room by choice or circumstances a charge will be required.   (2) Rooms with private bath and quote based on standard rooms (except suites specified in the tour itinerary)  (3) Triple rooms are subject to availability and will be describe on your itinerary. (Due to hotel structures)
  Immediate Check In	(1) All our guest are regulated by the check in time in accordance to every hotel.
  (2) Some of our programs included immediate check in (This need to be specified on itinerary)
  (3) In programs where immediate check in has not been included in the tour fare, Infinity Peru Travel will request hotels and lodges do to their best to accommodate our guest check in time, however, it is not guaranteed.  (4) If you wish to have your room ready for immediate Check-in couple of hours prior the regular hotel Check-in time, We can arrange this for an additional charge and it will be mentioned on your itinerary.
  Meals	(1) Only the meals specified in each itinerary.  (2) Restaurants mentioned in your programs are subject to availability due to high season or private events.
  Airlines	(1) Flight tickets shall be in Economy-class seats for tours including domestic flights. (2) Business class and first class seats will be available upon request or upgrade and need to be specified in the tour.
  Railways	(1) Tours are operated by Tourist class and others by First class (specified in the itinerary)
  Airports & Vip Lounges	(1) Our company shall provide you a Vip guest experience where you will have internet access snacks and special waiting lounge inside the airport before your regular boarding procedure. (service must be specified in itinerary) (2)Services may vary or not available due to airports conditions.
  Tax	(1) The Consumption Sales Tax in Peru is about 18% percent be aware of this for future purchases.
  %br
  NOT INCLUDED IN THE TOUR FARE
  Please note that the items not included on the tour fare are list below:
  %br
  Personal expenses	Laundry, telephone, additional meals, drinks or any other expenses of personal nature
  Flights	International and domestic air fares or Tickets not specified in itinerary
  Airport taxes	Departure taxes payable in cash at airport that were not included in your flight tickets
  Excess Baggage	Airlines baggage policy will be apply to all guest and will be responsibility of our client to pay charges for excess, heavy or special baggage in accordance with airlines, trains and cruises policies.
  Guide	For tours mentioned as optional on itinerary.
  Medical care	Medical expenses for injuries and illness during the tour are not cover by Infinity.
  Special Request	Special requested such as adjacent or connecting rooms, bedding request, smoking or non smoking rooms and special dietary need to be advised and quote at the time of booking (they cannot always be guarantee by our agents)
  %br
  %h2.title CHANGES ON THE TOUR CONTRACT
  Change by the client If you want to change your booking in any way, following fees will apply:
  Surcharges for upgrading airline classes, Cruise staterooms, adding extra nights at hotels, extra excursions or meals.
  In the event travel costs decrease, Infinity shall reduce the tour fare accordingly.
  Every tour fares depend on the number of participants and if there is a change in the number of the participants due to reasons beyond Infinity Peru responsibility, Infinity shall change the final tour fare in accordance with the cancellation policy to the passenger cancelling or to the group representative.
  When a change is in relation to any other extension in conjunction with your tour or pre- and post tour accommodation, transfers, etc) received by Infinity Peru  within 45 days prior to tour departure date will be subject to a $50 administration fee per change. This fee is in addition to any charges by ground operators, hotels or airlines.
  A $100 fee per person will be charged if a confirmed booking is changed or transferred to a different departure date or program up to 60 days before your tour departure date.  (Any change after this time will be treat as a cancellation)
  Infinity may reject a change in the name of travelers if transportation or accommodation operator does not accept the change or for any other reason.
  If a client is unable to travel due to circumstances consider by Infinity Peru as reasonable, the booking will might be transferred to another suitable person, however, the tour arrangements (including airlines, cruises, safaris hotels and all suppliers) need to agree to accept the name change, if a transfer is allowed then an administration charge of $100 plus extra charges claim by our suppliers per person will be made. (only if the company is notified up to 70 days before the tour departure date)
  No changes are permitted within 12 days of departure date, considering as cancel of the reservation and no show.
  %br
  Change by the company A Cancellation by the company will apply only according to the following situations:
  Company reserve the right to change any of the facilities, services or prices described in brochures or website. Client will be advised at the time of the booking and it will be correct in the itinerary.
  If the change occurs after your booking confirmation, reasonable changes will be made in the itinerary or where necessary as soon as possible in time before departure. In order to have a save and smooth travel operation.
  Infinity Peru will not accept responsibility for changes in flight schedule or departure airport, as this is the responsibility of the airline.
  If the major change is due to force major circumstances no compensation is payable.
  When a major change is made the Client may choose between accepting the change, obtaining a full refund of all monies paid or accepting any alternative tour offered by the company and compensation as indicated.
  If the major change is a result of situations under the control of Infinity Peru compensation will be set as follows: 
  Change notification	Compensation
  45 days or more before departure	No compensation will be made
  44 to 35 days	Compensation of $25 per person
  34 to 22 days	Compensation of $35 per person
  21 days or less	Compensation of $50 per person

  %br
  %h2.title CANCELLATION OF THE TOUR CONTRACT
  Cancellation by the client  If you wish to cancel your booking (tour contract) Cancellation charges will be apply according to our policies and  from the date  a written contract take place between our Client and Infinity Peru Travel S.A.C.
  %br
  Infinity Peru shall refund the remaining amount of the received tour fare (deposit) after deducting cancellation charges. If the tour deposit is not enough to cover the cancellation charge, Infinity shall charge the difference separately.
  You are strongly advised that some insurance will not cover a “change of mind” when canceling a tour contract.  
  If the client wish to change the tour departure date for his or her convenience, Infinity shall consider it as cancellation of the tour contract and the specified charges will be apply according to the below policies.
  Cancellation fees for air tickets issued by or on behalf of Infinity Peru will apply as determined by Airline Tariff Regulations and may vary as to the type of ticket issued. Depending on the reason for your cancellation, these charges may be recoverable under any insurance policy you purchased.
  Cancellation fees for Cruise tickets or Cruise tour tickets issued by or on behalf of Infinity Peru will apply as determined by Cruise Regulations.
  Cancellation fees for Safari tickets issued by or on behalf of Infinity Peru will apply as determined by their Regulations.
  No refunds will be made if you leave a trip for any reason after the trip has begun. No refunds will be made for any accommodation, transport, sightseeing, meals or services not utilized.
  When cancellation occurs days before departure date, Charges will be applicable as follows, per person:
  Regular Bookings
  Days prior to the tour departure date:	Cancellation charge
  90 days or more	Retention $100 per passenger
  89 to 70 days	Retention of deposit amount
  69 to 30 days	Retention of 50% of total price
  29 to 21 days	Retention of 75% of total price
  21 days or less	No refund will apply
  Get a way Holiday or last minute deals
  Days prior to the tour departure date:	Cancellation charge
  90 days or more	Retention of deposit amount
  89 to 70 days	Retention of 50% of total price
  69 to 46 days	Retention of 75% of total price
  45 to 21 days	No refund will apply
  20 days or less	No refund and a no show tax will be apply
  In any of the following cases, the client may cancel the Travel Contract without paying a cancellation charge. - When the tour fare increased in accordance with the surcharges policies. (Cancellation of tour up to 7 days after notification) -  When Infinity Peru has not delivered the Final Tour Itinerary to the client by the prescribed date.
  Cancellation by Infinity
  Infinity Peru strongly recommends travel insurances and for all expedition guests we recommend to purchase a travel insurance policy including trip delay, cancellation and interruption insurance.
  After we officially cancel a voyage, we will provide letters for all clients to submit to their travel insurance.
  %br
  Infinity Peru reserve the right to cancel a tour when client fail to do the final payment, in such case our company will act according to our cancellation policies and some fees may apply to the client first deposit.
  Infinity Peru reserve the right to cancel a tour when payment cannot be made using the credit card of a member due to a credit reason, etc., we shall cancel the Correspondence Contract, and be entitled to the cancellation fees mentioned before as payment for damage caused by a breach of contract. However, this shall not apply if travel charges are paid in cash by a date we designate separately.
  Infinity reserves the right to cancel a fixed departure tour due to no travelers registers or less than the numbers of required travelers (4) and we will advise you no later than 45 days before tour departure.
  Infinity reserves the right to cancel departure of a program due to “force major”, government advice at any time.
  With any form of cancellation, Infinity will offer you alternative arrangements, and if the price of your alternative booking is lower than the original booking we will refund the difference to you. If you do not accept alternative arrangements we will refund all payments you have made to Infinity.
  Please note that in the event of cancellation Infinity Peru will not be responsible for the cost of any fees like visas, vaccination, non refundable flights or additional travel arrangements beyond the voyage or other items not purchased through Infinity Peru.
  If Company received payment via credit card, the refund will be made to that credit card. If Infinity Peru received payment from your travel agent, the refund will be provided back to that travel agent.
  Infinity Peru shall not provide compensation when the order in which tour services are provided change, when all services are provided during the tour.
  Infinity reserves the right to cancel a tour due to important circumstances: Natural calamity or disaster, civil unrest, suspension of services related to transportation, accommodation and other facilities, governmental orders, or other causes make safe and smooth tour operation impossible.
  Infinity Peru will not be liable for any delay in and will not pay compensation if forced to change  or to cancel tours due to ‘Force Majeure’ or circumstances beyond the reasonable control of the company and includes, but is not limited to, war or threat of war, riot, civil strife, terrorist activity, industrial dispute, disease, industrial or nuclear disaster, adverse weather conditions, fire, strikes, epidemics or health risks, necessary measures to prevent tour participant death or bodily harm, technical or maintenance problems with transport, closed or congested airports or ports, changes imposed by re-scheduling or cancellation of flights by airlines, the alteration of airlines or aircraft types, or similar events beyond the control of Infinity Peru.
  %br
  Cancellation after departure
  Infinity Peru strongly recommends travel insurances and for all expedition guests we recommend to purchase a travel insurance policy including trip delay, cancellation and interruption insurance.
  %br
  Infinity Peru reserves the right to cancel a tour after departure or early interrupt the travel of a passenger due to conduct policies, this cancellation shall be made without any refund and compensation.
  Please note that in the event of cancellation after departure there will be no discounts, postponements of tour or refund for missed or unused services due to voluntary or involuntary termination (sickness, death of a family  member, etc) Infinity Peru is not responsible for the cost of any fees like visas, vaccination, non refundable flights or additional travel arrangements beyond the voyage or other items not purchased through Infinity Peru or necessary arrangements as requested for return to point of departure as a result of unexpected changes in your trip due to a change in airline scheduling, of flights, bad weather, war or threat war, riot, civil unrest, industrial dispute, terrorist activity, nuclear or natural disaster, fire or adverse weather conditions, epidemic or health risks, This cancellation shall be made without any refund and compensation.
  Infinity Peru reserve the right to cancel a tour after departure if a client seem to disturb the order of collective activities of tour participants by negligence of instruction from tour conductor, guides or drivers or violent deeds towards them or those accompanying them, which otherwise jeopardizes safety and smooth operation, this cancellation shall be made without any refund and compensation.
  Infinity Peru reserves the right to cancel a tour after departure when the tour cannot continue owing to natural disaster, weather conditions, services transportation or accommodations facilities, governmental orders, or other cause beyond the control or liability of Infinity Peru, This cancellation shall be made without any refund and compensation.
  %br
  %h2.title TRAVEL AND CANCELLATION INSURANCE
  Adequate and valid travel insurance is compulsory for all Infinity travelers.
  Travel insurance is highly recommend for all clients who book a tour and we advise a minimum coverage of $75,000 which must cover injury, illness, medical expenses (including any related to pre-existing medical conditions), evacuation or repatriation expenses (including helicopter rescue and air ambulance where applicable) we also recommend covers cancellation, curtailment, loss of luggage or personal effects.
  It is our policy to check the validity and cover of your insurance policy and we hold the right to refuse travel to anyone whose insurance does not satisfy these criteria in accordance with the tour adventures.
  You must carry proof and copy of insurance in case reasonably requested by our staff or suppliers.
  If you choose not to purchase travel insurance, you will be required to sign a waiver form acknowledging your acceptance that insurance was recommended but you refused, shall be your responsibility all extra costs for changes, cancellation of your tour or if you incur in any expenses such as medical expenses.
  %br
  %h2.title CLIENT RESPONSABILITY
  Each adult passenger agrees to supervise at all times any accompanying minors.
  Clients agree to accept the authority and decisions of Infinity Peru staff during the tour.  If client fail to comply with a decision made by a Infinity Leader, or interfere with the well-being of the group, Infinity Peru Leader reserves the right to terminate client contract and order the passenger to leave the tour immediately with no right of refund.
  If client commits an illegal act, shall be excluded from all or part of the tour and Infinity shall cease to have any responsibility to or for them with no right of refund.
  Client must advise at the time of booking if they are affected by a medical condition that might affect other people enjoyment or active participation of the tour. (Medical form)
  On specified programs, a minimum level of fitness is required, include but not limited to hiking, off-road walking, walking on uneven steep or cobbled streets, horseback riding, cycling, activities taking place at high altitude, off-road mountainous driving and navigating uneven terrain. The required level can be equivalent if the client does a daily exercise routine such as golf, jogging, energetic walking, tennis, yoga, etc. It will be required to notice if any participant has any physical or other condition, disability or if the minimum level of fitness is not met for the program selected, Infinity Peru reserves the right to decline or to accept anyone on the trip and also reserves the right to remove from the trip, at the participants own expense, anyone whose condition is such that it could create a hazard to himself or herself or others.
  Clients are responsible and required to make every effort to utilize information acquired from Infinity Peru and to understand details of the travel itinerary, documents required as well as the tour conditions. (Itinerary, vouchers and invoices will be sent via e-mail)
  Passport validity (at least 6 month prior to the end date of the tour), all visas, permits and certificates including vaccinations and insurance policies required.
  Client acknowledges that the nature of this type of travel requires considerable flexibility and should allow alternatives. The itinerary provided is representative and company is under no contractual obligation to strictly follow it, is understood that the order of the route schedules and itineraries maybe subject to alteration without prior notice due to local circumstances to ensure save and smooth travel operation.
  By booking with Infinity, the client acknowledges the potential risk visiting places, taking tours, treks or expeditions,  at their own volition, where the political and geographical attributes present certain risks, dangers and physical challenges; Including but not limited to sickness, mechanical breakdown, flight or rail cancellations, strikes, events emanating from political disputes, entry or border difficulties, weather and other unpredictable circumstances along the itinerary, Infinity Peru encourage our client to locate and make contact to his/her local embassy or consulate.
  Passenger understands and agrees that Company has a zero tolerance policy for illegal activity and shall report such activity to the appropriate authorities.
  The client shall accept all responsibility for decisions regarding individual purchases at souvenir shops even when said shops are introduced by Infinity Peru or its local tour operators.
  Should you have any questions or need any clarification about a specific tour please ask for details at time of booking.
  %br  
  Assumption of risk  Upon arrival to your destination city, you will be required to complete and sign an affidavit of release and assumption of risk worded as follows:
  %br
  Departure tour date   I am aware that this affidavit clause is applicable whether travelling by foot, plane, train, car, boat, cruise, safari or any other means of transport provided by Infinity Peru SAC during the trip the company organizes.  The Company compels to provide its services with the required diligence.  The hours pointed out in the entrance and departure schedules are not guaranteed. Therefore the schedules are subject to be modified by the Company; in this case the Company would not assume any responsibility for the losses, damages or any harm that these delays or modifications may cause to passengers. The Company does not assume responsibility for the risks that the passenger assumes as a consequence of the trip. By booking with us you acknowledge that participation in all Infinity trips involves inherent risks that may not be present in the case of conventional or less demanding holidays. The possibility of experiencing risks is likely to be higher if participation trip involves visiting remote or unstable regions or regions where there is dangerous wildlife.   Risks include, without limitation, the possibility of injury or death, psychological trauma, disease, loss or damage to property, inconvenience and discomfort.  Company is not responsible for any psychological condition or health condition of the passengers travelling in any of the means of transport provided, nor for any type of disorder or accident that may occur to passengers as a consequence of this psychological condition or health condition or for the same through any third party or through force majeure.  Company cannot assume any responsibility for force majeure, climatic phenomena or natural events that may occur before or during the tour, or for any eventuality which may make any trip uncomfortable or difficult, or for any delay or obstruction to a tour in any way and will not warrant failure on part of the company for either total or partial execution of the rendering of the services that the Company has agreed to provide which may have been affected by the aforementioned factors.
  For all trekking or climbing programs, there will be a US$50 additional charge per item, in case of damage to the tent or sleeping bag provided by the company. 
  You acknowledge your decision to travel on an Infinity tour after due consideration of relevant travel information.   I hereby declare that I have read and understood the terms and conditions as described above in addition to the Conditions of Sales as outlined by the company on the website, brochure or form provided and that I am fully aware that my signature confirms this declaration.
  %br
  Print name & Signature
  INFINITY RESPONSABILITY
  Infinity shall compensate for damage to baggage as stated above, provided that said damage is reported within 14 days counting from the day after the occurrence, up to a maximum of $300 per person only applicable when damage is caused intentionally or through serious negligence during the tour and not during a flight, cruise or train service.
  Tour itineraries specify to be escorted by English speaking guide and this guide shall ensure the safety of clients and smooth operation of the tour as stipulated in the tour contract. (Escorted will be from 8 to 20:00 for daily operations) English-speaking guide are not allowed to accompany clients on their on a non included tours or any situation type as personal.
  When the client suffers death or personal injury as a result of an activity forming part of the tour arrangements booked with Infinity Peru, we accepts responsibility unless there has been no fault on our company part or its suppliers and the cause was the clients fault, the action of someone unconnected with the tour arrangements, or one which neither the company or its suppliers could have anticipated or avoided.
  Infinity Peru acceptance of liability to pay compensation, in the case of air travel, rail travel, sea travel or hotel accommodation, to the amount set out in the provisions of, respectively, the Warsaw Convention as amended by the Hague Protocol 1955, the 1961 Berne Convention, the 1974 Athens Convention and the 1962 Paris Convention. 
  Infinity Peru acceptance of liability  is subject to assignment by the client to Infinity Peru of the client's rights against any agent, supplier or subcontractor of Infinity Peru, which is in any way responsible for the unsatisfactory holiday arrangements or the client's death or personal injury. 
  %br
  %br
  %h2.title LIMITS IN THE LIABILITY OF INFINITY PERU
  Infinity shall not be liable for damages incurred to clients as if any of the following reasons apply:
  Natural disaster, war, civil unrest resulting on alteration or cancellation of tour itinerary.
  Accidents during transportation, accommodations, damage by fire & client free activities.
  Injury, death, illness, damage delay or other loss to person or property or any other damage for emotional distress, mental suffering or pisychological injury of any kind under any circunstances, when such damages were neither the result of a physical injury to the passenger..
  Cessation of services related to transportation or accommodation facilities, and tour itinerary alteration or cancellation owing to such causes.
  Orders of either Peruvian or foreign governments, immigration regulations, isolation from infectious diseases, and tour itinerary alteration or cancellation due to such causes.
  Food poisoning or Theft.
  Delays, stoppages, changes of schedule and route in relation to transportation facilities, and tour itinerary alterations and shortened stays at destinations owing to such causes.
  Caused by act of god, war,terrorism,civil commotion, labor trouble, government interference, fire thefts or any other cause beyond reasonable control, or any act not shown to be caused by company negligence.
  When Infinity acts as agents  when making arrangements, operate certain services or provide goods for your trip. It purchases transportation (by aircraft, coach, train, vessel or otherwise), hotel and other lodging accommodations, restaurant, ground handling and other services from various independent suppliers. All such persons and entities are independent contractors. As a result Infinity Peru is not liable for any negligent or willful act of any such person or entity or of any third person.
  When client contravene any law or regulation of any country or region visited.
  %br
  To the fullest extent permitted by law and subject to the exception set out below:
  Infinity does not accept liability for any loss, damage, death or injury however caused (including through negligence). , which you may directly or indirectly suffer in connection with or arising from this contract or your participation in a trip.
  Client also agree to release Infinity  and its officers, employees, agents and representatives from all costs, liability, loss and damage incurred by you in connection with your participation in any trip, and waive any associated claims that you may have against Infinity or its Representatives as a result of your participation in any trip. 
  Infinity does not accept liability for any cancellations or delays in any of your flights, whether the cancellation or delay is caused by adverse weather conditions, rescheduling of the airline, airport authority or action by air traffic controllers, mechanical breakdown or industrial action. Where long flight delays result in lost holiday time, no refunds are given by hotels or suppliers. Similarly, airlines do not offer compensation for flight delays. However, at their discretion, carriers will endeavour to reduce the inconvenience of any delay by providing meals and accommodation, as appropriate for the time of day or night (dependent on local availability). If you incur payments for such services in the event of a delay, Infinity Peru will not accept responsibility for payment unless we have given our prior consent.
  Airlines, railways, coach and shipping companies and other suppliers have their own booking conditions or conditions of carriage, and you will be bound by these as far as the relevant transport provider or supplier is concerned. Some of these conditions may limit or exclude liability on the part of the relevant transport provider or other supplier, and they are often also subject to various international conventions. Where relevant, copies of such conditions may be available for inspection at our offices, or at the offices of the relevant supplier.
  %br
  %h2.title COMPLAINTS
  If you have any complaint about your trip or about any tour arrangements, it is a condition that you must make it known at the earliest possible opportunity to the tour leader, local representative or our staff who normally will be able to take appropriate action.
  If at the end of the trip you feel your complaints has not been properly dealt with, you must notify us writing with in 30 days of the end of your trip.
  COMMENTS, TESTIMONYS OR ONLINE SURVEYS
  We value opinions, comments and testimonies from all our passengers. Using our website you will have the opportunity to give us your feedback and we may ask for personal information to appropriately identify you.
  Survey and Personal Information collected will be used to make improvements to the Site, products and services.
  Participation in these surveys is completely voluntary and you therefore have a choice whether or not to disclose the required information.
  %br
  %h2.title MARKETING PURPOSED
  Photography and video recording during travel
  Infinity Peru reserves the right to take photographs during the operation of any tour and to use them for promotional purposes.
  Clients agree to allow their images to be used in such photographs. In case of passenger who prefers their image not to be used are asked to identify themselves to their tour leader at the beginning of the tour.
  Use of Photos or videos taken during or in connection with the tour including the right to edit, combine with other materials or create any type of derivative for the purpose of trade, advertising, sales, publicity, promotional or training without compensation to the guest. Such grant shall include the unrestricted right to copy, revise, distribute, display and sell photographs, images, films, tapes, drawings or recordings in any type of media (including but not limited to the internet), guarantee all rights, title and interest therein (including all worldwide copyrights, title and interest therein (including all worldwide copyrights there in) shall be infinity property, free from any claims by passenger or any person deriving any rights or interest from passenger.
  Declining E- Mail
  Our agents can decline receiving marketing information by E- Mail. At any time, you may request to discontinue receiving marketing E-mail from Infinity Peru. (Declining e-mail form shall be fill out informing this preference)
  %br
  %h2.title PRIVACY POLICY
  Infinity Peru shall provide information about client and companions to those persons, suppliers and carriers involves in travel arrangements.  We will do our most to protect your personal information.
  Our privacy policy apply to any website operated by Infinity Peru travel S.A.C. (referred in this Privacy policy as the "Site") owned, operated, licensed or controlled by Infinity.
  When using this website, you will be doing so entirely at your own risks and Infinity Peru Travel S.A.C.  will not be liable for any direct, indirect, special, punitive, exemplary or consequential losses or damages of whatsoever kind arising out of access to, or the use of this Web site or any information contained in it, including loss of profit, whether based on breach of contract, tort (including negligence), product liability or otherwise.
  Site users can choose to send our site web page electronically to another person, When you elect to do this you will be required to enter your E-mail address and name, the receiver E-mail address and name, a subject line, and a text message that will go to the receiver. This generates preformatted E-mail message that will go from you to the receiver mailbox with your message. This action is completely voluntary and you will have the choice to disclose or not the require information.
  Infinity Peru reserve the right to update this Privacy Policy where necessary due to developments in the law we encourage you to re read this from time to time so you are aware of any changes in how we gather and use your personal information.
