- if @price.errors.any?
  #errorExplanation
    %h2= t('activerecord.errors.messages.price.invalid_record')
    %ul
    - @price.errors.full_messages.each do |msg|
      %li= msg


- f.fields_for :travel_days_prices_contents do |builder| 
  = render 'travel_days_prices_content_fields', :f => builder

%div
  = add_child_link "Add Price", f, :travel_days_prices_contents






