%h1 
  =t('price.edit')


= form_for(@price, :url => {:price_id => params[:price_id], :action => 'update'}) do |f|
  = render(:partial => 'form', :locals => {:f => f})
  .actions
    = f.submit I18n.t('update')

