@mixin block {
  margin: 0 0 $space-block 0;
}
@mixin sidebar-block {
  margin: 0 0 $space-top 0;
}


.region-texto{
  @extend .col-sm-9;
  @extend .col-xs-9;
  @extend .col-md-9;
  @extend .col-lg-9;
}

.region-side{
  @extend .col-sm-4;
  @extend .col-xs-4;
  @extend .col-md-4;
  @extend .col-lg-4;
}

.region-central{
  @extend .col-sm-8;
  @extend .col-xs-8;
  @extend .col-md-8;
  @extend .col-lg-8;
}

.region-form{
  @extend .col-sm-4;
  @extend .col-md-4;
  @extend .col-lg-4;
  @extend .col-xs-8;
}
// BLOCKS
/*#content {
  .infinity-description,
  .noticia,
  .promotion-package,
  .video {
    @include block;
    @include clearfix2;
  }

  .infinity-description {
    @include bevel-cyan;
    background-position: 50% 100%;
    padding-bottom: $space-block;
  }

  .noticia,
  .promotion-package {
    margin-bottom: $space-block * 2;
  }

  .promotion-package {
    img {float: right; margin-top: 3px; padding-left: $space; background: white}
  }


}*/

