
@mixin block {
  margin: 0 0 $space-block 0;
}
@mixin sidebar-block {
  margin: 0 0 $space-top 0;
}

// BLOCKS
#content {
  .infinity-description,
  .noticia,
  .promotion-package,
  .video {
    @include block;
    @include clearfix2;
  }

  .infinity-description {
    @include bevel-cyan;
    background-position: 50% 100%;
    padding-bottom: $space-block;
  }

  .noticia,
  .promotion-package {
    margin-bottom: $space-block * 2;
  }

  .promotion-package {
    img {float: right; margin-top: 3px; padding-left: $space; background: white}
  }


}

