$form-field              : 100%;
$form-field-margin       : $space * 3;
$label-width             : $space * 30;
$input-width             : $space * 40;


form {
  #sidebar-first & {
    @include span(6);
  }
}

select {
  #sidebar-first & {
    width: 100%;
    margin-bottom: $space;
  }
}

.field {
  margin-bottom: $form-field-margin;
  .description {
    font-size: $font-size-small;
    margin: $space 0 0 $label-width;
  }
}

label {
  width: $label-width;
  float: left;
}

input {
  width: $input-width;
}

.required {
  font-size: $font-size-small;
  padding-bottom: $space-paragraph;
  margin-bottom: $space-paragraph * 2;
  @include bevel-cyan;
  background-position: 0 100%;
}
