/*
=============================================================
MAIN STRUCTURE
=============================================================
*/

body ul, body ol, body footer nav li,
html body footer nav,
html body footer .copyright,
.navigation li, header nav li{padding:0; margin:0}
.typography p, .content p, section[role="main"] > article p{margin-top:0}

body{
  @include blueprint-debug;
  font-family:$font-primary;
  
  .wrapper {
    @include container;
  /*  @include showgrid; */
    header, nav, footer .inner {
      @include column(24);
      nav {
      }
    }
  }
  footer {
    width: 100%;
    .inner {
      @include container;
    }
  }
}


.region {
  @include column(24);
}

.region:after {
  content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;
}
.region {
  zoom:1
}

a {
  color:$primary-color-text;
  text-decoration:none;
}






/*
=============================================================
HEADER - FOOTER
=============================================================
*/

.region {
  padding-bottom: $space-block;
}



.site-info {
  @include absolute(top, right, 0px, 0px);
  @include align-right;
  width: 200px;
  font-size: $font-size-text;
  font-weight: lighter;

  .phone-list, .email-list{
    color:tint($primary-color-text, $tint);
  }
  span {
    border-left: 1px solid;
    padding-left:$space;
    &:first-child{
      border:0;
    }
  }

}





/* SLIDER */
.royalSlider .royalSlide, .royalSlider .royalWrapper{background:none !important}
.button, #preface-top .royalSlider .royalCaptionItem{@extend .button; padding:0; width:$space * 15; text-align:center}



/* Estructura DOM
======================================================= */
html {background: url(../images/backgrounds/bg-cyan.jpg) }
body {
  background: url(../images/backgrounds/bg.jpg);
  header {
    position:relative;
    margin: $space * 5 0 $space;
  }

  footer {
    background: url(../images/backgrounds/bg-cyan.jpg);
    height:90px;
    nav {
      @include span(18);
    }
    .copyright {
      @include column(6);
      text-align:right;
    }
    .author {
      @include column(24);
      font-size: $font-size-small;
      margin-top: $space-top;
      a {
        position: relative; top: 2px;
        // original line --> @include inline-block(right);
        @include inline-block;
      }
    }
  }
}


#postscript-bottom {
  background: url(../images/backgrounds/bg-cyan.jpg);
  h2.title {
    width: 100%; padding: $space-block 0; position: relative;
    border-bottom: 0;
    @include bevel-cyan;
    &:after {
      @include triangle;
      position: absolute; bottom: 0; left: 48%;

    }
  }
  .social-links {
    margin-bottom: $space-bottom;
  }
}



/* Headings
======================================================= */

h1.page-title, h2.title {
  @include title;
  margin: 0 0 $space-heading;
  .partners & {
    text-align:center;
    @include bevel-cyan;
  }
}

h1.page-title {
  @include page-title;
}


/* Texts
======================================================= */
.content p, section[role="main"] > article p,  /* pff */
p {margin: 0 0 $space-paragraph 0; line-height: $line-height-paragraph; font-weight: lighter; font-size: $font-size-text;
  text-align: justify }


.current {font-weight: bold}

/* Navegación
======================================================= */

header, footer {
  nav {
    @include navigation;
  }
}

nav {
  header & {
    li.last {
          a {
            padding-right:5px;
          }
        }
    .footer-only {
      display:none;
    }
    ul:before,
    ul:after {
      content:""; width:960px; height:5px; background:$primary-color; position:absolute; bottom:0; left:0;
    }
    ul:before { bottom: 38px; display: none}
  }
  footer & {
    color:white;
    ul {
      li {
        margin: 0; float:left;
        a, span {
          background:$primary-color-text;
          color: white; font-size: $font-size-small;
          @include padding-x(1, 0,0,0,0)
        }
        span {
         background: $gray;
        }
      }
    }
  }
}

.infinity-admin header nav ul:before {
  display: block;
}


#preface-top {
  padding: 0 0 $space * 8;
  margin:0 0 $space-bottom;
  @include bevel-cyan-small;
  background-position: 50% 100%;
  .not-front & {
    margin-bottom: 0;
  }
}

/*
=============================================================
APARIENCIA
=============================================================
*/

#content {
  @include column(16);
  float:left;
}

/* Espaciados de los elementos
======================================================= */



/* Botones
======================================================= */
a.button {
  @include button(right);
}
a.button_{
  @include submit(left);
}

button, .actions input {
  @include submit(right);
}


.breadcrumbs {
  font-size: $font-size-small;
}


/* Párrafos después de los títulos de página
======================================================= */
h1.page-title + p {margin: $space*4 0 $space*10; padding:0 0 $space*10 0; @include bevel-cyan; background-position: 50% 100% }



.field.field-map,
.field.field-link,
.field.field-content {
  width: 100%; float: left; clear: left;
  #destinations.show & {
    width: auto;
  }
}

#slider-destinations {
  @include bevel-cyan-small;
  background-position: 50% 100%;
  padding-bottom: $space-bottom;
}






#content {
  .not-front .content {
    width: 100%;
    float: left; clear: left;
  }
  #abouts.history.not-front & img {
    @include image-matriz;
  }
}

.block {width: 100%; float: left; clear: left}

#abouts.milestones {
  .field-image {
    width: 150px; 
    @include image-matriz;
  }
}

#abouts.staff .field-member,
#packs.index .field-image {
  margin: 0 0 $space-bottom;
  @include image-right;
}

#posts.news_and_events .field-image,
#testimonies.index .field-image{
  @include image-left;
}


.break {
  clear: left;
}


.foobar-message-wrapper{font-family: $font-primary !important; font-weight: normal !important }


/* Estilos slider
======================================================= */
#preface-top .royalSlider{width:950px; height:250px}
.rsOverflow{position:relative}
body .rsABlock{position:absolute; top:5px;  left:auto;  right:35px}
body .rsDefault .rsPreloader {background-image:url(/javascripts/libs/royal-slider-9.2/preloaders/preloader-white.gif)}
body .rsDefault .rsCloseVideoIcn {background: url('/javascripts/libs/royal-slider-9.2/rs-default.png') -64px 0}
#postscript-bottom.partners ul.slider{width:950px; height:80px}
#postscript-bottom .rsABlock{position:absolute; top:5px; left:0}

body .rsDefault .rsBullets { background: none; bottom: auto; top: 100%; padding-top: $space * 3}

body .rsDefault .rsBullet {height: 17px; width: 17px; background: url(../images/backgrounds/slider-controls.jpg) no-repeat -20px -3px; cursor: pointer}

body .rsDefault .rsBullet.rsNavSelected {background: url(../images/backgrounds/slider-controls.jpg) no-repeat 0px -3px;}
body .rsDefault .rsArrowIcn {background-color: $primary-color;}
body .rsDefault .rsArrowIcn:hover {background-color: $primary-color-text;}



.destination_pictures_container{width:400px; height:400px; position: relative; clear: left; margin: 0 0 $space*4}
body .destination_pictures_container .rsABlock{position:absolute; bottom: 20px; top:auto; left:auto;  right:15px}
body .destination_pictures_container.rsDefault .rsBullets { top: 10px; right: 10px; left: auto; text-align: right; padding:0}

.destination_pictures_container .links {position: absolute; bottom: 15px; right: 15px; text-align: right}
.destination_pictures_container .links a{margin-left:10px}
/* END: Estilos slider */


.field-article {width:100%; float:left; clear:left; margin-bottom: $space-bottom}
.field-picture {float: left; margin:0 $space $space 0}
.field-content {}
.field-article .link {float: right; text-decoration: underline; color:$primary-color}
