#content {


  .not-front.sidebar-first &,
  #destinations &,
  .login & {
    @include column(17);
    margin-right: 0;
  }

  #milestones & {
    @include column(20);
    @include prepend(2);
  }
}

#sidebar-first {
  // revisar en blocks.scss demás parámetros
  @include column(7);
  @include prepend(1);
  float:right;
  margin-right:0;

  .not-front.sidebar-first &,
  #devise-sessions.new &,
  #devise-registrations.new &,
  #testimonies.index &,
  .login & {
    @include sidebar(left);
    @include column(6);
    @include prepend(0);
    @include append(1);
    margin-right: 0;
    nav {
      @include span(6);
    }
    nav, section {
      @include sidebarshadowbug(3px, 0);
      @include box-sizing;
    }
    .navegate-by {
      @include sombreado;
      @include span(6);
      @include default-list;
    }
    b {
      font-weight: bold;
      margin-bottom: $space*3;
      display: block;
    }

  }
}



#sidebar-first {
  section, nav {
    @include sidebar-block;
    @include clearfix2;
    @include sidebarshadowbug(0, 3px);
    padding: $space * 2;
  }
  .search-travel {
    @include sombreado;
  }

  .contact-us {
    .attention-number {
      font-size: $font-size-menu * 2;
      display: block;
    }
    .attention-days {
      font-size: $font-size-small;
    }
  }

  .health, .testimony {
    @include sombreado;
  }



}



// sidebar dl
dl {
  #sidebar-first & dt {
    margin-bottom: $space;
  }
  #sidebar-first & dd {
    border-bottom: 1px solid $color-shadow;
    padding-bottom: $space;
    margin-bottom: $space * 3;
    font-size: $font-size-small;
  }
}



#sidebar-second {
  float: right;
}

