#content {
  .not-front.sidebar-first &,
  #destinations &,
  .login & {
    @include column(17);
    margin-right: 0;
  }

  #milestones & {
    @include column(20);
    @include prepend(2);
  }
}

//.region-navbar {
  /*.not-front.sidebar-first &,
  /*#devise-sessions &,
  /*#devise-registrations &,
  //#devise-passwords &,
  //#testimonies.index &,
  /*.login & {
    @include sidebar(left);
    @include column(6);
    @include prepend(0);
    @include append(1);
    margin-right: 0;
    nav, .sidebar-block {
      @include span(6);
    }
   */
.region-navbar{
    nav, section, .sidebar-block {
      @include sidebarshadowbug(3px, 0);
      @include box-sizing;
    }
    .navegate-by,
    .sidebar-block {
      @include sombreado;
      @include span(6);
      @include default-list;
    }
    b {
      font-weight: bold;
      margin-bottom: $space*3;
      display: block;
    }
}



.region-navbar {
  section, nav, .sidebar-block {
    @include sidebar-block;
    @include clearfix2;
    @include sidebarshadowbug(0, 3px);
    padding: $space * 2;
    margin-bottom: $space*3;
    float: left;
  }
  .search-travel {
    @include sombreado;
  }

  .contact-us {
    .attention-number {
      font-size: $font-size-menu * 2;
      display: block;
    }
    .attention-days {
      font-size: $font-size-small;
    }
  }

  .health, .testimony {
    @include sombreado;
  }



}



// sidebar dl
dl {
  #sidebar-first & dt {
    margin-bottom: $space;
  }
  #sidebar-first & dd {
    border-bottom: 1px solid $color-shadow;
    padding-bottom: $space;
    margin-bottom: $space * 3;
    font-size: $font-size-small;
  }
}



#sidebar-second {
  float: right;
}


// some class helpers for devise
.shared-link {float: left}

