$total-columns  : 12;             // a 12-column grid
$column-width   : 60px;            // each column is 4em wide
$gutter-width   : 20px;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

/* GRID 
---------------------------------------------------- */
$blueprint-grid-columns              : 24;
$blueprint-grid-width                : 30px;
$blueprint-grid-margin               : 10px;

@import "blueprint";

/* COLORS 
---------------------------------------------------- */
$primary-color                       : #67cddc;
$primary-color-text                  : #3b3b3d;

/* TIPOGRAPHY 
---------------------------------------------------- */
$font-primary                        : 'Dosis';
$font-size-page-heading              : 32px;
$font-size-heading                   : 24px;
$font-size-menu                      : 18px;
$font-size-text                      : 17px;
$font-size-small                     : 14px;
$line-height-paragraph               : 115%;

/* LAYOUT
---------------------------------------------------- */
$space                               : 5px;
$space-top                           : $space * 6;
$space-bottom                        : $space * 12;
$space-block                         : $space * 10;
$space-heading                       : $space * 2;
$space-paragraph                     : $space * 3;


/* OTHER 
---------------------------------------------------- */
$tint                                : 50%;
$tint-low                            : 70%;
$border-menu-width                   : 5px;

$color-shadow                        : tint($primary-color-text, $tint-low);
