
%nav.navegate-by
  %h2.title
    = @destination.name
  %ul
    - @countries.each do |country|
      %li
        = link_to_unless_current country.name, destination_country_path(country.destination, country) do
          = country.name
   

