%h1 
  =t('country.new')


= form_for(@country, :url => {:country_id => params[:country_id], :action => 'create'}) do |f|
  = render(:partial => 'form', :locals => {:f => f})
  .actions
    = f.submit I18n.t('submit')


