.region-texto
  %h1.page-title
    = t('post.edit')
    %br
    %br
    =' ' + @post.title
  
  = render 'form'
  
  == #{ link_to t('show'), @post, :class => 'btn cancel' } #{ link_to t('back'), posts_path, :class => 'btn cancel' }
