
= breadcrumb :destinations
.container
  .row
    .region-navbar
      = render 'sidebar_first'

    /*#content*/
    .region-texto
      %h1.page-title
        = I18n.t('destinations.index')
      .content
        = image_tag '/assets/destination-map.png', class:'img-responsive'
          
        %p
          Latin America 
          %br/
          %br/
          Welcome to the most diverse destination on earth!!!!
          %br/
          %br/
          Home  of 26 spectacular countries (Antarctica, Argentina, Belize, Bolivia, Brazil, Chile, Colombia, Costa Rica, Cuba, Dominican Republic, Dutch Caribbean, Ecuador (Galapagos), El Salvador, Falkland Islands, French Guiana, Guatemala, Guyana, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Suriname, Uruguay and Venezuela.
          %br/
          %br/
          Latin America is famous for their Caribbean islands, snow capped Mountains, The Amazon Rainforest and the magestics lost cities where the Incas and the Aztecs governed large and complex civilisations. 
          %br/
          %br/
          But not only that Latin America always has something to offer you like the colorfull and exciting city of Mexico, the White-sand beaches and rainforest canopy of Costa Rica, the 184-mile barrier reef of Belize, the dramatic volcanic landscape of El Salvador,  the enormous Panama Canal; their incredible Colombian coastline that inspired many artists from our century, the Amazon Rainforest and the spectacular beaches like Copacabana in Brasil or visit the breathtaking Uyuni salt flats in Bolivia.
          %br/
          %br/
          Enjoy a Galapagos Island Cruise in Ecuador; Plan your guide trip to Machu Picchu or sign up for the Inca Trail in Peru; visit the Patagonia, meet the end of the world at Tierra del fuego or head into the blue wilderness of the Antarctica.
          %br/
          %br/
          It doesnt matter what are you looking for Latin America will give you more tan one idea to fully enjoy your holidays and exceed  your personal expectations.
                                                                         


