@media (min-width: 980px){
header .menu li{
  margin-left: 25px !important;
  }
}


@media (min-width: 768px) and (max-width: 979px){
header .menu li{
  margin-left: -3px !important;
  }
}

@media (max-width: 767px){
  header .menu li{
    width: 100% !important;
  }

}
