.region a{
margin-bottom: 20px;
}

header .navbar ul:before, header .navbar ul:after{
  background: none repeat scroll 0 0 #67CDDC;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  width: 960px;
}
header .menu li, footer .menu li {
height: 31px;
}
header .navbar{
  margin-top: 20px;
  min-height: 40px !important;
}

header .menu li{
padding-left: 0px;
padding-right: 0px !important;
}
.menu{
position: relative !important;}
header .navbar ul li a, header .navbar ul li span{
display: block;
font-size: 18px;
text-align: center;
width: 100%;
}

.region-texto{margin-top:30px;}
.region-navbar{margin-top:30px;}

.carousel-indicators li{
     background-color:white;
    height: 17px;
    width: 17px;
    border: 1px solid #67CDDC !important;
  }
.carousel-indicators .active{
    height: 17px !important;
    width: 17px !important;
    background-color:#67CDDC !important;
    } 


.carousel-inner > .item > img, .carousel-inner > .item > a > img{
margin: 0 auto;
}
header #carousel-generic{
  @include bg;
  padding-bottom:50px;
}

.line{
  background: url("/assets/backgrounds/bevel-cyan.jpg") no-repeat scroll 50% 100% #FFFFFF;
  height: 5px;
}
.space-line{
margin-bottom: 80px;
}

.menu li:hover{
border-bottom:5px solid black;
}

.menu li a:hover{
background-color: white !important;
color:black !important;
}
.breadcrumb{
@include bg;
margin-top: 20px;
margin-bottom: 0px !important;
}

.rsContent > img{
width: 320px;
}
.rsContent{
display: inline-block;
}

#destinations{
  .region-texto{
    .content{
      margin-top:30px;
    }
  }
}
#offer_seasons{
.region-texto{
padding: 0 0 0 35px;
}
}

.footer-only li{
list-style:none;
}

#countries{
#carousel-generic2{
    display: inline-block;
    position: relative;
    width: 50%;
      }

  .map{
    display:inline-block;
    width: 45%;
  }
  .region-texto img{
    height: 350px;
  }
  .region-texto p{
  margin-top: 30px;
  }
}

.menu{
width:100%;
margin-left:0px !important;
}

.partners{
list-style:none;
}

.navegate-by{
max-width: 100%;
}

.logo{
display: inline-block;
position: relative;
max-width: 100%;
}

.navbar-default{
@include bg;
border: none;
}


.region-navbar .country-flight-details {
    max-width: 100%;
  }
