.region-texto

  %h1.page-title
    =t('hotel.new')
  
  = form_for(@hotel, :url => {:hotel_id => params[:hotel_id], :action => 'create'}, :html => {:multipart => true}) do |f|
    = render(:partial => 'form', :locals => {:f => f})
    .actions
      = f.submit I18n.t('submit')
  
