#content

  %h1.page-title
    =t('country_picture.new')


  = form_for(@country_picture, :url => {:country_picture_id => params[:country_picture_id], :action => 'create' }, :html => {:multipart => true } ) do |f|
    = render(:partial => 'form', :locals => {:f => f})
    .actions
      = f.submit I18n.t('submit')
