.site-info
  .phone-list
    %span 983748593
    %span 9384758392
  .email-list
    %span info@infinity.com

  - unless current_user
    .login-links
      = link_to 'Sign up', new_user_session_path
      = link_to 'Compare travels', '#'
