%footer
  .inner
    = render 'layouts/menu'
    .copyright
      © 2012 Infinity Perú. Copyright.
    .author
      Web design and web development by
      = link_to image_tag('/assets/kosmyka.png'), '#', :id => 'website-author'
