%footer
  .inner
    .copyright
      = '© ' + Time.now.year.to_s + 'Infinity Perú. Copyright.'
    .author
      Web design and web development by
      = link_to image_tag('/assets/kosmyka.png'), '#', :id => 'website-author'
