
%h2.title
  Infinity Perú is partner of:
.wrapper
  %ul.slider
    - partners_in_all_pages.each_slice(6) do |slice|
      %li.rsContent
        - slice.each do |partner|
          .partner
            .rsABlock
              = link_to image_tag(partner.partner_picture(:thumb)), partner.url, :class => 'rsImg', :title => partner.title, :target => '_blank'




  = render 'layouts/social_links'
  
  = menu_li_footer('Terms and Conditions', 'terms', terms_path)
