-# content_for :scripts do
= render 'layouts/royal_slider'
= render 'layouts/royal_slider_init'

#preface-top
  .royalSlider.rsDefault
    - @slides.each do |slide|
      .rsContent
        = image_tag slide.slide(:full), :class => 'rsImg'
        = link_to 'Ver más', '', :class => 'button rsABlock'
