#carousel-generic.carousel.slide

  %ol.carousel-indicators
    - if slides_in_all_pages
      - slides_in_all_pages.each_with_index do |slide, index|
        - if index == 0
          %li.active{:'data-target' => '#carousel-generic', :'data-slide-to' => index}
        - else
          %li{:'data-target' => '#carousel-generic', :'data-slide-to' => index}

  .carousel-inner
    - if slides_in_all_pages
      - slides_in_all_pages.each_with_index do |slide, index|
        - if index == 0
          .item.active
            = image_tag slide.slide(:full), :class => 'rsImg'
            = link_to 'Ver más', slide.link, :class => 'button rsABlock'
        - else
          .item
            = image_tag slide.slide(:full), :class => 'rsImg'
            = link_to 'Ver más', slide.link, :class => 'button rsABlock'
