.social-links
  .label
    Follow us
  %ul
    %li
      = link_to image_tag('/images/icons/icons-social-facebook.png'), '#'
    %li
      = link_to image_tag('/images/icons/icons-social-flickr.png'), '#'
    %li
      = link_to image_tag('/images/icons/icons-social-twitter.png'), '#'
    %li
      = link_to image_tag('/images/icons/icons-social-vimeo.png'), '#'
  

